body {
  font-family: Arial, sans-serif;
  background: linear-gradient(90deg, #007bff, #00c9a7);
  color: white;
  min-height: 100vh;
}

.login-container {
  text-align: center;
  margin-top: 100px;
}

input,
button {
  margin: 10px;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

button {
  background: white;
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
}
